@import url(http://fonts.googleapis.com/css?family=Ubuntu);

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}
.logo-text{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-link{
    color: white !important;
}

.admin-nav-link{
    color: black !important;
}

.admin-menu{
    background: lightgray;
}
