{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title %}
  Order {{ order.id }} {{ block.super }}
{% endblock %}


{% block content %}
{% for order in active_orders %}
    <h1> <a href="order/{{ order.id }}" >Order {{ order.id }}</a></h1>
    <ul class="object-tools">
    <li>
        <a href="#" onclick="window.print();">Print order</a>
    </li>
    </ul>
    <table>
    <tr>
        <th>Created</th>
        <td>{{ order.created }}</td>
    </tr>
    <tr>
        <th>Customer</th>
        <td>{{ order.first_name }} {{ order.last_name }}</td>
    </tr>

    <tr>
        <th>E-mail</th>
        <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
    </tr>
    <tr>
        <th>Paid</th>
        {% if order.paid == True %}
            <td>Yes</td>
        {%else%}
            <td>No</td>
        {% endif %}
    </tr>
    <tr>
        <th>Total amount</th>
        <td>${{ order.get_total_cost }}</td>
    </tr>
    <tr>
        <th>Completed</th>
        {% if order.completed == True %}
            <td>Yes</td>
        {%else%}
            <td>No</td>
        {% endif %}
    </tr>
    </table>
{% endfor %}
{% endblock %}
        