{% extends "base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <h5 class="text-center mb-3">Checkout</h5>            
    
    <ul class="list-group">
        {% for item in cart %}
            <li class="list-group-item admin-menu text-center">
                {{ item.quantity }}x {{ item.product.name }}
                <span>${{ item.total_price }}</span>
            </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}</p>

    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" class="btn btn-danger" value="Place order"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}