{% extends "base.html" %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block content %}

<div class="container">
    <h3>Log In</h3>
    <div class="alert alert-danger">
        {%  if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% else %}
            <p>Please, use the following form to log-in:</p>
        {%  endif %}
    </div>
    <form method="post">
        {{  form.as_p }}
        {%  csrf_token %}
        <input type="submit" class="btn btn-danger" value="Log-in">
    </form>
</div>
{% endblock %}
