{% extends "base.html" %}

{% block title %}Pay by credit card{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
  <h1>Pay by credit card</h1>
  <form action="." id="payment" method="post">

    <label for="card-number">Card Number</label>
    <input name="card-number"/>

    <label for="cvv">CVV</label>
    <input name="cvv"/>

    <label for="expiration-date">Expiration Date</label>
    <input name="expiration-date"/>

    <input type="hidden" id="nonce" name="payment_method_nonce" value="">
    {% csrf_token %}
    <input type="submit" value="Pay">
  </form>
</div>
  
{% endblock %}